<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Добавление заявки</span>
    <a (click)="getLastRecord()" class="btn"><i class="material-icons">undo</i> Загрузить предыдущую запись</a>

    <!--  Номер заявки -->
    <div class="input-field">

      <input
        (input)="isNumber()"
        [ngClass]="{'invalid': !numberValid && form.get('number')?.touched}"
        type="text"
        id="number"
        formControlName="number"
      >
      <label
        for="number"
      >
        Номер *
      </label>
      <span *ngIf="!numberValid && form.get('number')?.touched"
            class="helper-text red-text">
      <span *ngIf="form.get('number')?.errors?.['required']">Номер не может быть пустым</span> <br>
      <span *ngIf="!numberValid">Номер должен быть либо целым числом, либо быть записанным через дробь /</span>
    </span>
    </div>

    <!--  Дата поступления заявки-->
    <div class="row">
      <div class="col s6">
        <label
          for="date"
        >
          Дата поступления заявки
        </label>
        <input
          type="date"
          id="date"
          formControlName="date"
        >
      </div>
      <div class="col s6">
        <label>
          Дата проведения консультации
        </label>
        <input type="date" formControlName="consultDate">
      </div>
    </div>

    <!--  Организация, которая отправила заявку-->
    <div class="row">
      <label
        for="organisation"
      >
        Вызывающая организация *
      </label>
      <input
        [ngClass]="{'invalid': form.get('organisation')?.touched && form.get('organisation')?.errors?.['required']}"
        (input)="orgValidCheck()"
        list="organisation"
        formControlName="organisation"
      >
      <datalist
        id="organisation">
        <option *ngFor="let org of orgList; let i = index" value="{{org.name}}">
      </datalist>

      <span *ngIf="form.get('organisation')?.touched && ((form.get('organisation')?.errors?.['required']) || !orgValid)"
            class="helper-text red-text">
        <span
          *ngIf="form.get('organisation')?.errors?.['required']">Необходимо выбрать вызывающую организацию</span><br>
        <span *ngIf="!orgValid && !form.get('organisation')?.errors?.['required']">Необходимо указать верное название организации, пожалуйста, выберите из списка</span>
      </span>
    </div>
    <!-- Данные пациента-->
    <div class="row">
      <!-- Фамилия, имя, отчество пациента-->
      <div class="input-field col s9">
        <label
          for="patientName">
          ФИО пациента *
        </label>
        <input
          type="text"
          id="patientName"
          formControlName="patientName"
          [ngClass]="{'invalid': form.get('patientName')?.touched && form.get('patientName')?.invalid}"
        >
        <span *ngIf="form.get('patientName')?.touched && form.get('patientName')?.invalid"
              class="helper-text red-text">
          <span *ngIf="form.get('patientName')?.errors?.['required']">Необходимо заполнить информацию о пациенте</span>
        </span>
      </div>
      <!-- Год рождения-->
      <div class="input-field col s3">
        <label
          for="yearOfBirth"
        >
          Год рождения
        </label>
        <input
          type="text"
          id="yearOfBirth"
          formControlName="yearOfBirth"
          [ngClass]="{'invalid': form.get('yearOfBirth')?.invalid}"
        >
        <span *ngIf="form.get('yearOfBirth')?.invalid"
              class="helper-text red-text">Введите корректный год рождения</span>
      </div>
    </div>

    <div class="row">
      <!-- Диагноз-->
      <div class="input-field col s9">
        <label
          for="diagnosis"
        >
          Диагноз *
        </label>
        <input
          type="text"
          id="diagnosis"
          formControlName="diagnosis"
          [ngClass]="{'invalid': form.get('diagnosis')?.invalid  && form.get('diagnosis')?.touched}"
        >
        <span class="helper-text red-text"
          *ngIf="form.get('diagnosis')?.invalid && form.get('diagnosis')?.touched">Диагноз должен быть заполнен</span>
      </div>

      <div class="input-field col s3">
        <label>
          <input
            type="checkbox"
            formControlName="COVID">
          <span class="red-text"
          style="font-size: 20px">
            наличие COVID
          </span>
        </label>
      </div>
    </div>
      <div class="input-field col s12">
        <label
        for="consultType">
          Специализация *
        </label>
        <input
          [ngClass]="{'invalid': form.get('consultType')?.invalid && form.get('consultType')?.touched}"
          type="text"
          id="consultType"
          formControlName="consultType">
        <span class="helper-text red-text" *ngIf="form.get('consultType')?.invalid && form.get('consultType')?.touched">
          Необходимо указать специализацию
        </span>
      </div>

    <div>
      <label>Специалист *</label>
      <input list="name" formControlName="consultantName" [ngClass]="{'invalid': form.get('consultantName')?.touched && ((form.get('consultantName')?.errors?.['required']) || !consultantValid)}" (input)="consultantValidCheck()">
      <datalist id="name">
        <option *ngFor="let person of consultList; let i = index" value="{{person.name}}">
      </datalist>
      <span *ngIf="form.get('consultantName')?.touched && (form.get('consultantName')?.errors?.['required'] || !consultantValid)" class="helper-text red-text">
        <span *ngIf="form.get('consultantName')?.errors?.['required']">Необходимо выбрать специалиста</span><br>
        <span *ngIf="!consultantValid && !form.get('consultantName')?.errors?.['required']">Неверно указан специалист, пожалуйста, выберите из списка</span>
      </span>
    </div>

    <div class="input-field">
      <label for="description">Описание</label>
      <input type="text" id="description" formControlName="description">
    </div>

    <div class="input-field">
      <label for="report">Отчёт</label>
      <input type="text" id="report" formControlName="report">
    </div>

    <div class="card-action">
      <button
        type="submit"
        class="btn waves-effect waves-light"
        [disabled]="form.invalid || (!numberValid || !orgValid || !consultantValid)"
      >
        Добавить
      </button>
    </div>
  </div>
</form>
