<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Добавление учреждения</span>
    <div class="col s12">
      <label for="name">
        Название учреждения *
      </label>
      <input
        formControlName="name"
        class="validate"
        id="name"
        type="text">
      <span class="helper-text red-text" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Необходимо заполнить информацию о наименовании учреждения
      </span>
    </div>

    <div class="col s12">
      <label for="region">
        Регион *
      </label>
      <input
        type="text"
        list="region"
        formControlName="region"
        (input)="regionValidCheck()"
      >
      <datalist id="region">
        <option *ngFor="let org of regionList; let i = index" value="{{org}}">
      </datalist>
      <span class="helper-text red-text" *ngIf="form.get('region')?.touched">
        <span *ngIf="form.get('region')?.invalid">Необходимо заполнить информацию о регионе</span>
        <span *ngIf="!regionValid && !form.get('region')?.invalid">Необходимо выбрать из списка регионов</span>
      </span>
    </div>

    <div class="card-action">
      <button
        type="submit"
        class="btn waves-effect waves-light"
        [disabled]="form.invalid || !regionValid">
        Добавить
      </button>
    </div>
  </div>
</form>



